.pants-section1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
    border-radius: 0.1rem;
    background-color:#FFF9EA
}

.wardrobe-heading {
    font-family: 'playfair';
    color: #141414;
    font-size: 24px;
    margin-top: 1rem;
    height: 20px;
    width: 100%;
}

.image-container {
    height: 149px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;

}

.bottoms-wardrobe-item {
    height: 120px;
    width: 140px;
    margin-bottom: 1rem;
}